<div id="wrapper">
  <h1>Articles</h1>
  {{!-- <h2><i>If you can do this...the homework should be no problemoooo.</i></h2> --}}
  <div id="articles">
  </div>
  <div id="notes"></div>
</div>

<script id="article-template" type="text/x-handlebars-template">
    {{> articleCard}}
</script>